@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #2A386D;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.774);
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-danger {
  color: rgb(230, 153, 161);
}

.text-success {
  color: rgb(153, 230, 171);
}