@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-danger {
  color: rgb(230, 153, 161);
}

.text-success {
  color: rgb(153, 230, 171);
}

.progressDiv {
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
}